.margin{width:1190px;margin:0 auto;}



#header{background:#f5f4f4;
        height:30px;
        border-bottom:solid 1px #e6e6e6;
    .tou{
        line-height:30px;
         .left{
            li{float: left; 
                padding: 0 5px;
            }
        }
         .right{
            li{float: right; 
                padding: 0 5px; 
             }
        }
    }

}
