@charset "UTF-8";
.margin {
  width: 1190px;
  margin: 0 auto;
}

#header {
  background: #f5f4f4;
  height: 30px;
  border-bottom: solid 1px #e6e6e6;
}

#header .margin .tou {
  line-height: 30px;
}

#header .margin .tou .left li {
  float: left;
  padding: 0 5px;
}

#header .margin .tou .welcome {
  float: left;
  cursor: pointer;
}

#header .margin .tou .welcome b {
  float: left;
}

#header .margin .tou .right li {
  float: right;
  padding: 0 5px;
}

#section {
  background: #fff;
  height: 120px;
}

#section .logo {
  float: left;
  margin-top: 30px;
}

#section .center {
  margin-left: 160px;
  float: left;
  margin-top: 30px;
}

#section .center .ipt {
  width: 590px;
  height: 40px;
  border: 2px solid #dd0207;
  text-align: center;
  margin-bottom: 5px;
}

#section .center .ipt ul {
  float: left;
}

#section .center .ipt ul li {
  float: left;
  line-height: 40px;
  width: 55px;
}

#section .center .ipt #ipt1 {
  width: 460px;
  height: 40px;
  border: none;
  float: left;
  padding-left: 7px;
}

#section .center .ipt #ipt2 {
  float: right;
  border: 0 none;
  width: 68px;
  height: 40px;
  background: #dd0207;
}

#section .center .hot-section a {
  padding-right: 10px;
  margin-top: 15px;
}

#section .center .hot-section a:hover {
  color: #e3393c;
}

#section .right {
  float: right;
  margin-top: 20px;
}

#nav {
  height: 38px;
  background: #fff;
  border-bottom: 1px solid #dd0207;
}

#nav .nav-1 {
  position: relative;
}

#nav .nav-1 .jiujiu1 {
  width: 200px;
  height: 38px;
  background: #dd0207;
  float: left;
}

#nav .nav-1 .jiujiu1 img {
  padding-left: 15px;
}

#nav .nav-1 .jiujiu1 span {
  color: #fff;
  line-height: 38px;
}

#nav .jiujiu {
  position: absolute;
  left: 0;
  top: 40px;
  background: #3d4851;
  z-index: 10;
  width: 200px;
  height: 492px;
}

#nav .jiujiu li {
  padding-left: 16px;
  width: 200px;
  height: 80px;
  border-bottom: 1px solid #323b42;
  box-sizing: border-box;
}

#nav .jiujiu li p {
  padding-top: 20px;
  padding-bottom: 16px;
  color: #fff;
  font-weight: 700;
}

#nav .jiujiu li span {
  color: #fff;
}

#nav .jiujiu li .menu {
  position: absolute;
  left: 200px;
  top: 0;
  height: 490px;
  width: 800px;
  display: none;
  background: #fff;
}

#nav .jiujiu li .menu ul {
  padding-left: 40px;
}

#nav .jiujiu li .menu ul .te3 {
  float: left;
}

#nav .jiujiu li .menu ul .te3 b {
  width: 600px;
  font: 700 12px/50px "";
  float: left;
  border-bottom: 1px solid black;
  margin-left: 40px;
}

#nav .jiujiu li .menu ul .te3 .box3 {
  float: left;
  width: 600px;
}

#nav .jiujiu li .menu ul .te3 .box3 a {
  display: block;
  margin-left: 0;
}

#nav .jiujiu li:hover .menu {
  display: block;
}

#nav .jiujiu .no {
  border: none;
}

#nav .jiujiu li:hover {
  background: #262a2d;
}

#nav a {
  display: block;
  width: 120px;
  line-height: 38px;
  float: left;
  text-align: center;
}

#nav a:hover {
  color: #e3393c;
}

#banner {
  height: 492px;
  /* .imgbox img:nth-child(1){left:0;} */
}

#banner .box3 {
  height: 492px;
  margin: 0 auto;
  position: relative;
}

#banner .box .imgbox {
  height: 492px;
}

#banner .imgbox img {
  height: 492px;
  display: block;
  width: 100%;
}

#banner .btns input {
  width: 50px;
  height: 40px;
  background: rgba(200, 200, 200, 0.6);
  border: none;
  position: absolute;
  top: 226px;
}

#banner #left {
  left: 0;
}

#banner #right {
  right: 0;
}

#mydata {
  height: 594px;
}

#mydata .top {
  height: 40px;
}

#mydata .top .mydata-1 {
  margin-top: 30px;
}

#mydata .top .mydata-1 p {
  width: 190px;
  height: 38px;
  text-align: center;
  border-top: 2px solid #dd0207;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  font: 18px/38px "";
  color: #dd0207;
  float: left;
}

#mydata .top .mydata-2 {
  display: block;
  float: right;
  width: 998px;
  height: 38px;
  font: 16px/38px "微软雅黑";
  border-bottom: 1px solid #c9c9c9;
}

#mydata .top .mydata-2 a {
  float: right;
}

#mydata .shopping {
  overflow: hidden;
}

#mydata .shopping li {
  width: 228px;
  height: 265px;
  float: left;
  margin: 0 5px;
}

#mydata .shopping li p {
  text-indent: 20px;
  padding: 5px 0;
}

#mydata .shopping li img {
  width: 80%;
  height: 200px;
}

#mydata .shopping li span {
  text-indent: 20px;
  padding: 5px 0;
  display: block;
}

#box {
  height: 700px;
  background: #fff;
  margin-top: 30px;
}

#box .top .top-1 {
  float: left;
}

#box .top .top-1 p {
  text-indent: 16px;
  border-left: 3px solid #dd0207;
  width: 190px;
  float: left;
  font: 700 18px/18px "";
  color: black;
}

#box .top ul {
  float: left;
  margin-left: 550px;
}

#box .top ul li {
  float: left;
  padding: 0 10px;
  font: 18px/38px "";
}

#box .top ul li:hover {
  color: #dd0207;
}

#box .top a {
  float: right;
  display: block;
  font: 18px/38px "";
}

#box .center .top-2 {
  float: left;
  width: 240px;
}

#box .center .center-2 {
  float: left;
  width: 470px;
}

#box .center .right-2 {
  float: right;
  width: 470px;
}

#box .center .right-2 li {
  float: right;
  width: 230px;
  padding: 0 5px 7px 0;
}

#box .bottom .left-3 {
  float: left;
  width: 240px;
  padding-top: 10px;
}

#box .bottom .center-3 {
  float: left;
  width: 470px;
  padding-top: 10px;
}

#box .bottom .right-3 {
  float: right;
  width: 470px;
}

#box .bottom .right-3 li {
  float: right;
  width: 230px;
  padding: 5px 5px 7px 0;
}

#figure {
  margin-top: 30px;
  height: 350px;
}

#figure .figure-1 {
  height: 350px;
}

#figure .figure-1 .top-4 {
  height: 38px;
}

#figure .figure-1 .top-4 p {
  font: 18px/38px "";
}

#figure .figure-1 .bottom-4 {
  float: left;
}

#figure .figure-1 .bottom-4 .zuo {
  float: left;
  width: 280px;
}

#figure .figure-1 .bottom-4 .zhong {
  float: left;
  height: 350px;
  width: 630px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

#figure .figure-1 .bottom-4 .you {
  float: right;
  width: 280px;
}

#tupian {
  height: 110px;
  margin-top: 60px;
  background: #f8f8f8;
  border-bottom: 1px solid #d6d6d6;
}

#tupian .tupian-1 {
  padding-top: 32px;
}

#footer {
  height: 224px;
  background: #f3f3f3;
}

#footer .left-5 {
  width: 200px;
  float: left;
}

#footer .left-5 img {
  margin-top: 40px;
  display: block;
  width: 150px;
  height: 50px;
}

#footer .center-5 {
  width: 740px;
  float: left;
  margin-top: 40px;
}

#footer .center-5 dl {
  float: left;
  padding-right: 70px;
}

#footer .center-5 dl dt {
  font: 700 16px/38px "";
}

#footer .center-5 dl dd {
  line-height: 18px;
}

#footer .center-5 dl a:hover {
  color: #dd0207;
}

#footer .bottom-5 {
  width: 250px;
  float: right;
}

#footer .bottom-5 ul {
  float: left;
  padding: 40px 10px 10px 0;
}

#footer .bottom-5 ul li {
  text-align: center;
}

#footer .bottom-5 ul li h3 {
  line-height: 38px;
}

#footer .bottom-5 ul li a {
  line-height: 28px;
}

#footer-1 {
  height: 40px;
  background: #313131;
}

#footer-1 ul {
  margin: 0 320px;
}

#footer-1 ul li {
  float: left;
  color: #fff;
}

#footer-1 ul li a {
  font: 16px/40px "";
  color: #fff;
}

#footer-1 ul li span {
  padding: 0 10px;
}

#footer-2 {
  height: 110px;
  background: #fff;
}

#footer-2 p {
  text-align: center;
  line-height: 24px;
}

#footer-2 .img {
  display: block;
  float: left;
  margin-left: 520px;
}

#footer-2 .img img {
  padding: 10px 0;
}

.louceng {
  width: 40px;
  height: 164px;
  position: fixed;
  left: 20px;
  bottom: 40px;
  background: black;
}

.louceng li {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-top: 1px solid #b6b6b6;
}

.louceng li:hover {
  background: red;
}
